<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!-- Invisible overlay window: widgets must be attached to a real window so
         their collection views (ListView etc.) load content at runtime -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".tasker.widgets.ActivityConfigGetWidgetData"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Get Widget Data"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tasker.widgets.ActivityConfigGetWidgetJson"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Get Widget JSON"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tasker.widgets.ActivityConfigClickWidget"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Click Widget Path"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tasker.widgets.ActivityConfigClickWidgetText"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Click Widget Text"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.ActivityWidgetSelector"
            android:exported="false"
            android:label="Select Widget"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>
</manifest>
